/*
#38a779
#80b762
#ccc84a

#170038
*/

.navbar {
    background: #fff;
}

.navbar-brand img {
    height: 7vh;
    padding: 0;
    margin: 0;
}

.mainslide{
    font-family: 'Arvo', serif; 
    background: cover; 
    background-repeat: no-repeat;
    height: 100vh; 
    color:rgb(255, 255, 255);
    margin: 0;
}
.mainslide h1{
    font-size: 80px;
}

.subtitle {
    margin: 0.7em 0;
    font-size: 2.5em;
}
